/*  inspiration
    https://keithclark.co.uk/articles/pure-css-parallax-websites/
    https://segmentfault.com/a/1190000040563987/en
*/
html {
    overflow: hidden; /*move scrollbar to body tag*/
}
/*---global vars---*/
:root {
    --p-align: 0;
    --p-depth: 1;
    --p-scale: 1;
    --p-transform: ;
}
/*---parallax container---*/
body,
.prx_container,
.prx_container_x,
.prx_container_y {
    perspective: 2px;
}
/*  hack - perspective-origin
    97.8% behaves as 100%   */
body,
.prx_container_y {
    perspective-origin: calc(var(--p-align, 0) * 0.978%) 0%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.prx_container_x {
    perspective-origin: 0% calc(var(--p-align, 0) * 1%);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    height: unset;
}

/*---parallax items---*/
.prx_group {
    transform-style: preserve-3d;
}
body [prx],
.prx_container_y [prx] {
    transform-origin: 
    var(--p-origin)
    0%;
}
.prx_container_x [prx] {
    transform-origin:
    0% 
    var(--p-origin);
}
[prx] {
    --p-scale-adjust: calc(1 + var(--p-depth, 1) / 2);
    /*1 + (translateZ * -1) / perspective*/
    --p-scale-complete: calc(var(--p-scale-adjust) * var(--p-scale-to-fit, 1) * var(--p-scale, 1));
    --origin-shift: calc(
        100% *
        var(--p-scale-adjust)*(var(--p-scale) - 1) /
        (2*(var(--p-scale-complete) - 1))
    );
    /*  a: scale-adjust; b: scale
        a*(b-1) / (2*(đab-1))    */
    --p-origin: calc(
        1% * var(--p-align) + 
        (50 - var(--p-align)) / 50 * var(--origin-shift)
    );
    /*  y: origin-shift; z: align
        z + ((50-z)/50) * y    */
    transform:
    translateZ(calc(var(--p-depth, 1) * -1px))
    scale(var(--p-scale-complete))
    var(--p-transform);
}
[prx="0"] {
    transform: unset;
}
[prx="1"] {
    transform: translateZ(-1px)
    scale(calc(1 + (-1 * -1) / 2));
}
[prx="2"] {
    transform: translateZ(-2px)
    scale(calc(1 + (-2 * -1) / 2));
}
[prx="3"] {
    transform: translateZ(-3px)
    scale(calc(1 + (-3 * -1) / 2));
}
[prx="4"] {
    transform: translateZ(-4px)
    scale(calc(1 + (-4 * -1) / 2));
}
[prx="5"] {
    transform: translateZ(-5px)
    scale(calc(1 + (-5 * -1) / 2));
}
[prx="6"] {
    transform: translateZ(-6px)
    scale(calc(1 + (-6 * -1) / 2));
}

[prx="-1"] {
    transform: translateZ(0.3px)
    scale(calc(1 + (0.3 * -1) / 2));
}
[prx="-2"] {
    transform: translateZ(0.6px)
    scale(calc(1 + (0.6 * -1) / 2));
}
[prx="-3"] {
    transform: translateZ(0.9px)
    scale(calc(1 + (0.9 * -1) / 2));
}
[prx="-4"] {
    transform: translateZ(1.2px)
    scale(calc(1 + (1.2 * -1) / 2));
}
[prx="-5"] {
    transform: translateZ(1.5px)
    scale(calc(1 + (1.5 * -1) / 2));
}
[prx="-6"] {
    transform: translateZ(1.8px)
    scale(calc(1 + (1.8 * -1) / 2));
}