/*background: #262678;*/

.steps{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --p-size: 2;
}

.steps > div {
    position: absolute;
    bottom: -15px;
}

.bg1 .back{
    bottom: 0;
    --p-size: 100;
    --p-scale: 1.01;
    background: #262678;
}

.layer1{
    background: #3737ae;
}
.layer2{
    background: #5151c8;
}
.layer3{
    background: #7777d4;
}
.layer4{
    background: #c5c5ed;
}